name: build-pkgs
on: 
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'
jobs:
  build:
    strategy:
      matrix:
        repos: [ llama.cpp-vulkan, 64gram-desktop-bin, valent-git, gdm-settings, sticky-notes, rewaita, gallery-dl, appflowy-bin, opencomic, xcaddy, halloy ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: zhaose233/build-aur-action@master
        with:
          repo-name: ${{ matrix.repos }}
      - uses: ncipollo/release-action@v1.8.10
        with:
          allowUpdates: True
          tag: "x86_64"
          artifacts: "./*/*.zst"
          token: ${{ secrets.GITHUB_TOKEN }}
