name: build-pkgs
on: 
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'
jobs:
  build:
    strategy:
      matrix:
        repos: [ ascii-image-converter-git,qrcp,hexo-cli,lyrebird,obsidian-2-theme-git,obsidian-icon-theme-git,gdm-tools-git,appimagetool-bin,nndownload,gnome-shell-extension-ibus-tweaker-git,olive-git,waifu2x-converter-cpp-git,natron-compositor-git,ttf-lxgw-wenkai,icalingua++-git,fantascene-dynamic-wallpaper-git,electron-netease-cloud-music,icalingua++,adw-gtk3-git,soundcloud-dl-git,python-pathvalidate,python-soundcloud-v2 ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: weiliang1503/build-aur-action@master
        with:
          repo-name: ${{ matrix.repos }}
      - uses: ncipollo/release-action@v1.8.10
        with:
          allowUpdates: True
          tag: "x86_64"
          artifacts: "./*/*.zst"
          token: ${{ secrets.GITHUB_TOKEN }}
