name: update-db
on: 
  workflow_dispatch:
  workflow_run:
    workflows: ["build-pkgs"]
    types: [completed]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: weiliang1503/update-db-for-repo@master
      with:
        name: zhaose-repo
        url: 'weiliang1503/zhaose-repo'
    - uses: ncipollo/release-action@v1.8.10
      with:
        allowUpdates: true
        tag: "x86_64"
        artifacts: "./zhaose-repo.*"
        token: ${{ secrets.GITHUB_TOKEN }}
